.home-container {
  min-height: 100vh;
  padding-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

/* .header {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
} */

.logo-placeholder {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  color: darkgray;
  background: white;
  font-weight: bold;
  user-select: none;
  max-width: 150px;
  text-align: center;
}

.home-content {
  flex: 1;
}

/* .home-content h1 {
  font-size: 3rem;
  margin-bottom: 4rem;
} */

.home-content p {
  font-size: 1.25rem;
  /* color: #555; */
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 1rem;
  width: 100%;
}
